h1,
h2,
h3,
h4,
h5,
h6 {
  color: hsla(0, 0%, 10%, 1);
  margin: 0.5em 0;
}

/* h1{
  font-size: 1.5em;
} */

nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

nav > h1 {
  flex: 2;
}

nav > a {
  flex: 1;
  text-align: right;
}

.site-logo {
}
